a {
  text-decoration: none;
  color: #000;
}

li {
  list-style: none;
}

html, body {
  font-size: 100%;
  overflow-x: hidden;
}

img {
  max-width: 100%;
  width: 100%;
}

.wrapper {
  display: flex;
}

.l-aside {
  width: 20%;
  background-color: #F2EDE9;
}
@media screen and (max-width: 1280px) {
  .l-aside {
    position: absolute;
    top: 0;
    right: -44%;
    width: 44%;
    transition: all 0.5s;
  }
}
@media screen and (max-width: 1024px) {
  .l-aside {
    position: absolute;
    top: 0;
    right: -87%;
    width: 87%;
    transition: all 0.5s;
  }
}

.l-aside.open {
  position: absolute;
  z-index: 20;
}
@media screen and (max-width: 1280px) {
  .l-aside.open {
    right: 0;
    transition: all 0.5s;
  }
}
@media screen and (max-width: 1024px) {
  .l-aside.open {
    right: 0;
    transition: all 0.5s;
  }
}

.l-container {
  width: 100%;
}
@media screen and (min-width: 1280px) {
  .l-container {
    width: 80%;
  }
}

.l-container.open {
  position: fixed;
  top: 0;
  left: 0;
}

.l-content {
  width: 100%;
}

.l-footer {
  width: 100%;
  height: 150px;
}

.l-footer.open {
  display: none;
}

.l-header {
  width: 100%;
  height: 217px;
}

.l-main-visual {
  width: 100%;
}

.c-aside-title {
  font-family: "Roboto", sans-serif;
  font-size: 22px;
  line-height: 1.3;
  color: #707070;
}

.c-button--menu {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  line-height: 1.3;
  color: #707070;
}
@media screen and (min-width: 1024px) {
  .c-button--menu {
    font-size: 34px;
  }
}
@media screen and (min-width: 1280px) {
  .c-button--menu {
    display: none;
  }
}
.c-button--search {
  font-family: "M PLUS 1p", sans-serif;
  font-size: 16px;
  line-height: 1.4375;
  color: #707070;
  background-color: #F2EDE9;
  border: solid 1px #707070;
  border-radius: 10px;
  padding: 12px 23px;
}
@media screen and (min-width: 1024px) {
  .c-button--search {
    padding: 12px 52px;
  }
}
.c-button--close {
  width: 32px;
  height: 32px;
  background-color: #F2EDE9;
  position: relative;
}
.c-button--close::before, .c-button--close::after {
  content: "";
  width: 32px;
  height: 6px;
  background-color: #707070;
  position: absolute;
  top: 13px;
  left: 0;
}
.c-button--close::before {
  transform: rotate(45deg);
}
.c-button--close::after {
  transform: rotate(-45deg);
}
.c-button--read {
  color: #707070;
  font-family: "M PLUS 1p", sans-serif;
  border-radius: 25px;
  background-color: #fff;
  padding: 10px 42px;
}
@media screen and (min-width: 1280px) {
  .c-button--read {
    border-radius: 50px;
  }
}
.c-button--buy {
  color: #3c2a10;
  background-color: #F2EDE9;
  font-family: "M PLUS 1p", sans-serif;
  font-size: 16px;
  line-height: 1.43;
  border-radius: 20px;
  border: solid 1px #3c2a10;
  font-weight: bold;
  width: 100%;
  padding: 30px 0;
}

.c-copyright {
  color: #fff;
  font-family: "M PLUS 1p", sans-serif;
  font-size: 14px;
  line-height: 1.42;
}

.c-index-item a {
  color: #fff;
  font-family: "M PLUS 1p", sans-serif;
  font-size: 20px;
  line-height: 1.45;
}

.c-logo {
  line-height: 1.3;
}

.c-mask {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
}

.c-aside-menu {
  font-family: "M PLUS 1p", sans-serif;
  font-size: 15px;
  line-height: 1.45;
  color: #707070;
}

.c-mv-title {
  color: #fff;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.c-aside-subtitle {
  font-family: "M PLUS 1p", sans-serif;
  font-size: 18px;
  line-height: 1.5;
  color: #707070;
}

.c-loupe {
  color: #808080;
  position: relative;
}
.c-loupe::before {
  content: "";
  width: 24px;
  height: 24px;
  background: url(../../../img/loupe.jpg);
  display: inline-block;
  position: absolute;
  top: 11px;
  left: 16px;
}
.c-loupe input {
  padding: 11px 11px 11px 50px;
  background-color: #fff;
  border: solid 1px #707070;
  border-radius: 10px;
}

.c-archive-subtitle {
  color: #fff;
  font-family: "M PLUS 1p", sans-serif;
  font-size: 16px;
  line-height: 1.43;
}

.c-archive-text {
  color: #fff;
  font-family: "M PLUS 1p", sans-serif;
  font-size: 16px;
  line-height: 1.43;
}

.c-archive-title {
  color: #fff;
  font-family: "M PLUS 1p", sans-serif;
  font-size: 20px;
  line-height: 1.45;
}

.c-pagination--left {
  content: "";
  width: 10px;
  height: 10px;
  border-top: solid 1px #707070;
  border-left: solid 1px #707070;
  transform: rotate(-45deg);
  position: relative;
  display: inline-block;
}
.c-pagination--left::after {
  content: "";
  width: 10px;
  height: 10px;
  border-top: solid 1px #707070;
  border-left: solid 1px #707070;
  position: absolute;
  top: 5px;
  left: 5px;
}
.c-pagination--right {
  content: "";
  width: 10px;
  height: 10px;
  border-top: solid 1px #707070;
  border-right: solid 1px #707070;
  transform: rotate(45deg);
  position: relative;
  display: inline-block;
}
.c-pagination--right::after {
  content: "";
  width: 10px;
  height: 10px;
  border-top: solid 1px #707070;
  border-right: solid 1px #707070;
  position: absolute;
  top: 5px;
  right: 5px;
}

.p-aside {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 20;
  width: 20%;
}
@media screen and (max-width: 1280px) {
  .p-aside {
    position: absolute;
    top: 0;
    right: -44%;
    opacity: 1;
  }
}
.p-aside__close-button {
  margin-top: 25px;
  margin-left: 90%;
}
@media screen and (min-width: 1280px) {
  .p-aside__close-button {
    display: none;
  }
}
.p-aside__title {
  padding-top: 82px;
  padding-left: 46px;
}
@media screen and (max-width: 1280px) {
  .p-aside__title {
    display: none;
  }
}
.p-aside__list {
  margin-top: 85px;
  margin-left: 20%;
}
.p-aside__subtitle {
  margin-bottom: 37px;
}
.p-aside__unit {
  margin-left: 20px;
  margin-bottom: 40px;
}
.p-aside__menu {
  margin-bottom: 23px;
}

.p-aside.open {
  position: absolute;
  z-index: 20;
  background-color: #F2EDE9;
}
@media screen and (max-width: 1280px) {
  .p-aside.open {
    right: 0;
    opacity: 1;
    width: 100%;
  }
}
@media screen and (max-width: 1024px) {
  .p-aside.open {
    width: 100%;
    right: 0;
    opacity: 1;
  }
}

.p-footer {
  background-color: #9D8670;
}
.p-footer__index {
  display: flex;
  margin: 0 auto;
  width: 260px;
  padding-top: 40px;
}
.p-footer__item:nth-child(1) {
  position: relative;
  margin-right: 40px;
}
.p-footer__item:nth-child(1)::after {
  content: "";
  width: 1px;
  height: 18px;
  background-color: #fff;
  position: absolute;
  top: 5px;
  right: -20px;
}
.p-footer__copyright {
  width: 150px;
  margin: 0 auto;
  padding-top: 34px;
}

.p-front-acces {
  position: relative;
  background-color: rgba(0, 0, 0, 0.3);
  min-height: 691px;
}
@media screen and (min-width: 1024px) {
  .p-front-acces {
    min-height: 415px;
  }
}
@media screen and (min-width: 1280px) {
  .p-front-acces {
    min-height: 649px;
  }
}
.p-front-acces::before {
  content: "";
  width: 100%;
  height: 60%;
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 0;
  left: 0;
  z-index: -5;
}
@media screen and (min-width: 1024px) {
  .p-front-acces::before {
    height: 100%;
  }
}
@media screen and (min-width: 1280px) {
  .p-front-acces::before {
    width: 60%;
  }
}
.p-front-acces__map {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  z-index: -10;
  overflow: hidden;
}
.p-front-acces__map iframe {
  width: 100%;
  height: 150%;
  margin-top: -150px;
}
.p-front-acces__info {
  width: 100%;
  color: #fff;
  font-family: "M PLUS 1p", sans-serif;
}
.p-front-acces__title {
  padding: 40px;
  font-size: 20px;
  line-height: 1.28;
  position: relative;
}
@media screen and (min-width: 1280px) {
  .p-front-acces__title {
    padding-bottom: 119px;
    font-size: 24px;
    line-height: 1.5;
  }
}
.p-front-acces__title::after {
  content: "";
  width: 75px;
  height: 2px;
  position: absolute;
  bottom: 20px;
  left: 40px;
  background-color: #fff;
}
@media screen and (min-width: 1280px) {
  .p-front-acces__title::after {
    bottom: 55px;
  }
}
.p-front-acces__text {
  padding: 0 40px 40px 40px;
  font-size: 14px;
  line-height: 2.35;
}
@media screen and (min-width: 1280px) {
  .p-front-acces__text {
    width: 60%;
  }
}

.p-front-article {
  margin: 0 20px 49px 20px;
}
@media screen and (min-width: 1024px) {
  .p-front-article__list {
    display: flex;
    width: 95%;
    margin: 0 auto;
  }
}
.p-front-article__item {
  min-height: 643px;
  background-position: center;
  background-size: cover;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.p-front-article__item:nth-child(1) {
  background-image: url(../../../img/front-three-burgers.jpg);
}
@media screen and (min-width: 1024px) {
  .p-front-article__item:nth-child(1) {
    margin-right: 5%;
  }
}
@media screen and (max-width: 1024px) {
  .p-front-article__item:nth-child(1) {
    margin-bottom: 20px;
  }
}
.p-front-article__item:nth-child(2) {
  background-image: url(../../../img/front-humburger-potato.jpg);
}
@media screen and (min-width: 1024px) {
  .p-front-article__item {
    min-height: 681px;
  }
}
@media screen and (min-width: 1280px) {
  .p-front-article__item {
    min-height: 1193px;
  }
}
.p-front-article__title {
  color: #EAEAEA;
  position: relative;
  font-family: "Roboto", sans-serif;
  font-size: 41px;
  line-height: 1.3;
  margin-top: 11px;
  margin-left: 15px;
  margin-bottom: 50px;
}
@media screen and (min-width: 1024px) {
  .p-front-article__title {
    font-size: 44px;
  }
}
@media screen and (min-width: 1280px) {
  .p-front-article__title {
    font-size: 52px;
  }
}
.p-front-article__title::after {
  content: "";
  width: 34px;
  height: 4px;
  background-color: #EAEAEA;
  position: absolute;
  bottom: -15px;
  left: 0;
}
@media screen and (min-width: 1024px) {
  .p-front-article__title::after {
    width: 35px;
  }
}
@media screen and (min-width: 1280px) {
  .p-front-article__title::after {
    width: 63px;
    bottom: -34px;
  }
}
.p-front-article__inner {
  margin-bottom: 15px;
}
.p-front-article__post {
  margin: 0 auto;
  width: 90%;
  color: #3C2A10;
  background-color: rgba(255, 255, 255, 0.8);
}
.p-front-article__post:nth-child(1) {
  margin-bottom: 15px;
}
.p-front-article__second-title {
  margin: 7px auto 7px 10px;
  padding-top: 7px;
  font-family: "M PLUS 1p", sans-serif;
  font-size: 22px;
  line-height: 1.09;
}
.p-front-article__text {
  margin: auto 10px;
  padding-bottom: 15px;
  font-family: "M PLUS 1p", sans-serif;
  font-size: 16px;
  line-height: 1.43;
}

.p-front-main-visual {
  display: block;
  position: relative;
  margin-bottom: 20px;
  height: 285px;
}
@media screen and (min-width: 1024px) {
  .p-front-main-visual {
    margin-bottom: 40px;
  }
}
@media screen and (min-width: 1280px) {
  .p-front-main-visual {
    margin-bottom: 120px;
    height: 530px;
  }
}
.p-front-main-visual__img {
  height: 100%;
  object-fit: cover;
}
.p-front-main-visual__title {
  margin-left: 25px;
  font-family: "Roboto", sans-serif;
  font-size: 36px;
  line-height: 1.5;
}
@media screen and (min-width: 1280px) {
  .p-front-main-visual__title {
    font-size: 40px;
  }
}

.p-header {
  background-color: #FFF7EF;
  position: relative;
  padding-top: 40px;
}
@media screen and (min-width: 1280px) {
  .p-header {
    padding-top: 67px;
  }
}
.p-header__menu-button {
  position: absolute;
  top: 14px;
  right: 16px;
}
@media screen and (min-width: 1024px) {
  .p-header__menu-button {
    top: 18px;
    right: 26px;
  }
}
@media screen and (min-width: 1280px) {
  .p-header__flex {
    display: flex;
    justify-content: space-between;
    margin: 0 31px 66px 65px;
  }
}
.p-header__logo {
  width: 203px;
  height: 53px;
  margin: 0 auto 38px auto;
}
@media screen and (min-width: 1280px) {
  .p-header__logo {
    width: 325px;
    height: 84px;
    margin: 0;
  }
}
.p-header__search-form {
  display: flex;
  margin: 0 auto;
  width: 324px;
}
@media screen and (min-width: 1024px) {
  .p-header__search-form {
    width: 550px;
  }
}
@media screen and (min-width: 1280px) {
  .p-header__search-form {
    margin: 0;
    margin-top: 20px;
  }
}
.p-header__search-box {
  margin-right: 12px;
  width: 232px;
  height: 48px;
}
@media screen and (min-width: 1024px) {
  .p-header__search-box {
    margin-right: 14px;
    width: 398px;
  }
}
.p-header__search-box input {
  width: 100%;
  height: 100%;
}
.p-header__search-button {
  width: 80px;
  height: 48px;
}
@media screen and (min-width: 1024px) {
  .p-header__search-button {
    width: 138px;
  }
}
.p-header__mask {
  display: none;
}

.p-archive-article {
  margin: 20px 20px 62px 20px;
}
@media screen and (min-width: 1024px) {
  .p-archive-article {
    margin: 37px 40px 106px 40px;
  }
}
@media screen and (min-width: 1280px) {
  .p-archive-article {
    margin: 70px 100px 150px 100px;
  }
}
.p-archive-article__item {
  margin-bottom: 21px;
}
@media screen and (min-width: 1024px) {
  .p-archive-article__item {
    display: flex;
  }
}
.p-archive-article__img {
  vertical-align: top;
}
@media screen and (min-width: 1024px) {
  .p-archive-article__img {
    width: 50%;
  }
}
.p-archive-article__inner {
  background-color: #3C2B1C;
  padding-bottom: 5%;
}
@media screen and (min-width: 1024px) {
  .p-archive-article__inner {
    width: 50%;
  }
}
.p-archive-article__summary {
  margin: 0 21% 11% 5%;
  padding-top: 8%;
}
@media screen and (min-width: 1024px) {
  .p-archive-article__summary {
    margin: 0 16% 13% 9%;
  }
}
@media screen and (min-width: 1280px) {
  .p-archive-article__summary {
    margin: 0 15% 13% 9%;
    padding-top: 11%;
  }
}
@media screen and (min-width: 1280px) {
  .p-archive-article__title {
    font-size: 36px;
    line-height: 1.5;
  }
}
.p-archive-article__subtitle {
  margin-top: 7%;
  margin-bottom: 3%;
}
@media screen and (min-width: 1280px) {
  .p-archive-article__subtitle {
    font-size: 24px;
    line-height: 1.5;
  }
}
.p-archive-article__button {
  margin: 0 auto;
  font-size: 16px;
  line-height: 1;
  width: 164px;
  height: 42px;
  display: block;
}
@media screen and (min-width: 1280px) {
  .p-archive-article__button {
    width: 292px;
    height: 76px;
    line-height: 2;
  }
}

.p-archive-content {
  margin: 30px 18px 19px 22px;
}
@media screen and (min-width: 1024px) {
  .p-archive-content {
    margin: 36px 35px 37px 42px;
  }
}
@media screen and (min-width: 1280px) {
  .p-archive-content {
    margin: 60px 100px 70px 100px;
  }
}
.p-archive-content__title {
  font-family: "M PLUS 1p", sans-serif;
  font-size: 28px;
  line-height: 1.5;
  margin-bottom: 30px;
}
@media screen and (min-width: 1024px) {
  .p-archive-content__title {
    font-size: 36px;
    margin-bottom: 25px;
  }
}
.p-archive-content__text {
  font-family: "M PLUS 1p", sans-serif;
  font-size: 16px;
  line-height: 1.43;
}

.p-archive-main-visual {
  width: 100%;
  height: 283px;
  position: relative;
  background-image: url(../../../img/front-three-burgers.jpg);
  background-size: 200%;
  background-position: left center;
}
@media screen and (min-width: 1024px) {
  .p-archive-main-visual {
    background-size: 100%;
    background-position: center;
  }
}
@media screen and (min-width: 1280px) {
  .p-archive-main-visual {
    height: 239px;
  }
}
.p-archive-main-visual::before {
  content: "";
  width: 100%;
  height: 100%;
  display: block;
  z-index: 50;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
}
.p-archive-main-visual__title--first {
  z-index: 60;
  top: 36%;
  left: 10%;
  transform: translateY(0);
  font-family: "Roboto", sans-serif;
  font-size: 36px;
  line-height: 1.3;
}
@media screen and (min-width: 1024px) {
  .p-archive-main-visual__title--first {
    font-size: 60px;
    top: 50%;
    transform: translateY(-50%);
  }
}
.p-archive-main-visual__title--second {
  z-index: 60;
  color: #fff;
  position: absolute;
  top: 55%;
  left: 10%;
  font-family: "M PLUS 1p", sans-serif;
  font-size: 16px;
  line-height: 1.43;
}
@media screen and (min-width: 1024px) {
  .p-archive-main-visual__title--second {
    left: 30%;
    top: 50%;
    transform: translateY(-50%);
  }
}
@media screen and (min-width: 1280px) {
  .p-archive-main-visual__title--second {
    left: 27%;
  }
}

.p-archive-pagination__sp {
  margin: 0 5% 31px 5%;
  display: flex;
  justify-content: space-between;
}
@media screen and (min-width: 1024px) {
  .p-archive-pagination__sp {
    display: none;
  }
}
.p-archive-pagination__prev {
  color: #707070;
  margin-left: 10px;
}
.p-archive-pagination__next {
  color: #707070;
  margin-right: 10px;
}
.p-archive-pagination__pc {
  margin: 0 12% 30px 12%;
}
@media screen and (max-width: 1024px) {
  .p-archive-pagination__pc {
    display: none;
  }
}
.p-archive-pagination__info {
  margin-right: 20px;
  font-size: 16px;
  line-height: 2.1;
  color: #707070;
}
.p-archive-pagination__num {
  border: solid 1px #707070;
  color: #707070;
  margin-right: 25px;
  padding: 7px 13px;
  font-size: 16px;
  line-height: 2.1;
}
.p-archive-pagination__list {
  display: inline-block;
  margin-left: 25px;
}
.p-archive-pagination .active {
  background-color: #3C2B1C;
  color: #fff;
}

.p-single-main-visual {
  width: 100%;
  height: 225px;
  position: relative;
}
@media screen and (min-width: 1024px) {
  .p-single-main-visual {
    height: 500px;
  }
}
.p-single-main-visual__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.p-single-main-visual__title {
  margin-left: 7%;
  font-family: "M PLUS 1p", sans-serif;
  font-size: 36px;
  line-height: 1.5;
  font-weight: bold;
}
@media screen and (min-width: 1024px) {
  .p-single-main-visual__title {
    font-size: 60px;
    line-height: 1.46;
  }
}

.p-single {
  width: 89%;
  margin: 0 auto;
}

.p-single-summary {
  margin-top: 30px;
  margin-bottom: 30px;
  color: #3c2a10;
  font-family: "M PLUS 1p", sans-serif;
}
@media screen and (min-width: 1024px) {
  .p-single-summary {
    margin-top: 60px;
    margin-bottom: 60px;
  }
}
.p-single-summary__detail-title {
  font-size: 28px;
  line-height: 1.5;
  margin-bottom: 30px;
}
@media screen and (min-width: 1024px) {
  .p-single-summary__detail-title {
    font-size: 36px;
    line-height: 1.5;
    margin-bottom: 60px;
  }
}
.p-single-summary__detail-text {
  font-size: 16px;
  line-height: 1.43;
  margin-bottom: 34px;
}
@media screen and (min-width: 1024px) {
  .p-single-summary__detail-text {
    margin-bottom: 60px;
  }
}
.p-single-summary__detail-h3 {
  font-size: 24px;
  line-height: 1.5;
  margin-bottom: 31px;
}
@media screen and (min-width: 1024px) {
  .p-single-summary__detail-h3 {
    font-size: 28px;
    line-height: 1.5;
    margin-bottom: 60px;
  }
}
.p-single-summary__detail-h4 {
  font-size: 20px;
  line-height: 1.45;
  margin-bottom: 37px;
}
@media screen and (min-width: 1024px) {
  .p-single-summary__detail-h4 {
    margin-bottom: 76px;
  }
}
.p-single-summary__detail-h5 {
  font-size: 20px;
  line-height: 1.45;
  margin-bottom: 30px;
}
@media screen and (min-width: 1024px) {
  .p-single-summary__detail-h5 {
    margin-bottom: 60px;
  }
}
.p-single-summary__detail-h6 {
  font-size: 20px;
  line-height: 1.45;
  margin-bottom: 30px;
}
@media screen and (min-width: 1024px) {
  .p-single-summary__detail-h6 {
    margin-bottom: 60px;
  }
}
.p-single-summary__info {
  padding: 30px 16px 30px 20px;
  background-color: #f5f5f5;
}
@media screen and (min-width: 1024px) {
  .p-single-summary__info {
    padding: 50px 56px 60px 50px;
  }
}
.p-single-summary__info-text {
  font-size: 16px;
  line-height: 1.43;
  margin-bottom: 30px;
}
@media screen and (min-width: 1024px) {
  .p-single-summary__info-text {
    margin-bottom: 60px;
  }
}
.p-single-summary__info-flex {
  display: flex;
}
.p-single-summary__info-note {
  font-size: 16px;
  line-height: 1.43;
}
.p-single-summary__info-source {
  font-size: 16px;
  line-height: 1.43;
  color: #4A6C9B;
  border-bottom: 1px solid #4A6C9B;
}

.p-single-photo {
  margin-bottom: 30px;
}
@media screen and (min-width: 1024px) {
  .p-single-photo {
    margin-bottom: 60px;
  }
}
.p-single-photo__main {
  height: 200px;
  object-fit: cover;
  object-position: 0% 100%;
}
@media screen and (min-width: 1024px) {
  .p-single-photo__main {
    height: 264px;
  }
}
@media screen and (min-width: 1280px) {
  .p-single-photo__main {
    height: 500px;
  }
}
.p-single-photo__flex {
  display: flex;
  margin-top: 30px;
}
@media screen and (min-width: 1024px) {
  .p-single-photo__flex {
    margin-top: 60px;
  }
}
.p-single-photo__sub {
  width: 43%;
  height: 51%;
}
@media screen and (min-width: 1280px) {
  .p-single-photo__sub {
    height: 358px;
  }
}
.p-single-photo__text {
  width: 54%;
  margin-left: 3%;
  font-size: 16px;
  line-height: 1.43;
}
.p-single-photo .reverse {
  margin-left: 0;
  margin-right: 3%;
}
.p-single-photo__second {
  margin: 30px auto;
  width: 80%;
  height: 5%;
  display: block;
  object-fit: cover;
}
@media screen and (min-width: 1024px) {
  .p-single-photo__second {
    margin-top: 61px;
    margin-bottom: 241px;
    width: 581px;
    height: 358px;
  }
}
@media screen and (min-width: 1280px) {
  .p-single-photo__second {
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 1024px) {
  .p-single-photo__list {
    display: flex;
    flex-wrap: wrap;
  }
}
.p-single-photo__item {
  height: 245px;
  margin-bottom: 20px;
}
@media screen and (min-width: 1024px) {
  .p-single-photo__item {
    width: 49%;
  }
}
@media screen and (min-width: 1280px) {
  .p-single-photo__item {
    width: 32%;
    margin-right: 2%;
  }
}
@media screen and (min-width: 1024px) {
  .p-single-photo__item:nth-child(even) {
    margin-left: 2%;
  }
}
@media screen and (min-width: 1280px) {
  .p-single-photo__item:nth-child(even) {
    margin-left: 0;
  }
}
@media screen and (min-width: 1280px) {
  .p-single-photo__item:nth-child(3n) {
    margin-right: 0;
  }
}
.p-single-photo__item img {
  object-position: 0% 100%;
  object-fit: cover;
  height: 245px;
}/*# sourceMappingURL=style.css.map */