@use "../../foundation/mixin" as m;
@use "../../foundation/color" as c;
@use "../../foundation/font" as f;

.p-archive-content {
    margin: 30px 18px 19px 22px;

    @include m.lg {
        margin: 36px 35px 37px 42px;
    }
    @include m.xl {
        margin: 60px 100px 70px 100px;
    }

    &__title {
        font-family: f.$m-plus;
        font-size: 28px;
        line-height: 1.5;
        margin-bottom: 30px;

        @include m.lg {
            font-size: 36px;
            margin-bottom: 25px;
        }
    }

    &__text {
        font-family: f.$m-plus;
        font-size: 16px;
        line-height: 1.43;
    }
}