@use "../../foundation/mixin" as m;
@use "../../foundation/color" as c;
@use "../../foundation/font" as f;

.p-archive-main-visual {
    width: 100%;
    height: 283px;
    position: relative;
    background-image: url(../../../img/front-three-burgers.jpg);
    background-size: 200%;
    background-position: left center;

    @include m.lg {
        background-size: 100%;
        background-position: center;
    }
    @include m.xl {
        height: 239px;
    }

    &::before {
        content: "";
        width: 100%;
        height: 100%;
        display: block;
        z-index: 50;
        background-color: c.$a-main-visual-mask;
        position: absolute;
        top: 0;
        left: 0;
    }

    &__title {
        &--first {
            z-index: 60;
            top: 36%;
            left: 10%;
            transform: translateY(0);
            font-family: f.$roboto;
            font-size: 36px;
            line-height: 1.3;

            @include m.lg {
                font-size: 60px;
                top: 50%;
                transform: translateY(-50%);
            }
        }
        &--second {
            z-index: 60;
            color: c.$main-visual-color;
            position: absolute;
            top: 55%;
            left: 10%;
            font-family: f.$m-plus;
            font-size: 16px;
            line-height: 1.43;

            @include m.lg {
                left: 30%;
                top: 50%;
                transform: translateY(-50%);
            }
            @include m.xl {
                left: 27%;
            }
        }
    }
}