@use "../../foundation/mixin" as m;
@use "../../foundation/color" as c;

.p-aside {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 20;
    width: 20%;

    @media screen and (max-width: m.$xl) {
        position: absolute;
        top: 0;
        right: -44%;
        opacity: 1;
    }

    &__close-button {
        margin-top: 25px;
        margin-left: 90%;

        @include m.xl {
            display: none;
        }
    }

    &__title {
        padding-top: 82px;
        padding-left: 46px;

        @media screen and(max-width: m.$xl){
            display: none;
        }
    }

    &__list {
        margin-top: 85px;
        margin-left: 20%;
    }

    &__subtitle {
        margin-bottom: 37px;
    }

    &__unit {
        margin-left: 20px;
        margin-bottom: 40px;
    }

    &__menu {
        margin-bottom: 23px;
    }
}

.p-aside.open {
    position: absolute;
    z-index: 20;
    background-color: c.$aside-bg;

    @media screen and (max-width: m.$xl) {
        right: 0;
        opacity: 1;
        width: 100%;
    }

    @media screen and (max-width: m.$lg) {
        width: 100%;
        right: 0;
        opacity: 1;
    }
}