@use "../../foundation/mixin" as m;

.p-front-acces {
    position: relative;
    height: 691px;

    @include m.lg {
        height: 415px;
    }
    @include m.xl {
        height: 649px;
    }

    &__map {
        width: 100%;
        height: 691px;
        overflow: hidden;

        @include m.lg {
            height: 415px;
        }
        @include m.xl {
            height: 649px;
        }

        iframe {
            width: 100%;
            height: 841px;
            margin-top: -150px;

            @include m.lg {
                height: 565px;
            }
            @include m.xl {
                height: 799px;
            }
        }
    }

    &__mask {
        width: 100%;
        height: 415px;
        background-color: $f-acces-mask-bg;
        position: absolute;
        top: 0;
        left: 0;

        @include m.lg {
            height: 100%;
        }
        @include m.xl {
            width: 60%;
        }
    }

    &__info {
        width: 100%;
        height: 100%;
        background-color: $f-acces-info-bg;
        position: absolute;
        top: 0;
        left: 0;
        color: $f-acces-color;
        // padding: 40px 40px auto 40px;
    }

    &__title {
        padding-top: 40px;
        padding-left: 40px;
        position: relative;
        margin-bottom: 40px;
        font-family: $m-plus;
        font-size: 20px;
        line-height: 1.28;

        @include m.xl {
            margin-bottom: 119px;
            font-size: 24px;
            line-height: 1.5;
        }

        &::after {
            content: "";
            width: 75px;
            height: 2px;
            position: absolute;
            bottom: -20px;
            left: 40px;
            background-color: $f-acces-color;

            @include m.xl {
                bottom: -55px;
            }
        }
    }

    &__text {
        padding-left: 40px;
        padding-right: 40px;
        font-family: $m-plus;
        font-size: 14px;
        line-height: 2.35;

        @include m.xl {
            font-size: 18px;
            line-height: 2.1;
        }
    }
}