@use "../../foundation/mixin" as m;
@use "../../foundation/color" as c;
@use "../../foundation/font" as f;

.p-front-article {
    margin: 0 20px 49px 20px;

    &__list {
        @include m.lg {
            display: flex;
            width: 95%;
            margin: 0 auto;
        }
    }

    &__item {
        min-height: 643px;
        // height: auto;
        background-position: center;
        background-size: cover;
        width: 100%;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        &:nth-child(1) {
            background-image: url(../../../img/front-three-burgers.jpg);

            @include m.lg {
                margin-right: 5%;
            }
            @media screen and (max-width: m.$lg) {
                margin-bottom: 20px;
            }
        }
        &:nth-child(2) {
            background-image: url(../../../img/front-humburger-potato.jpg);
        }

        @include m.lg {
            // width: 42%;
            min-height: 681px;
            // height: auto;
        }

        @include m.xl {
            min-height: 1193px;
            // height: auto;
        }
    }

    &__title {
        color: c.$f-article-title;
        position: relative;
        font-family: f.$roboto;
        font-size: 41px;
        line-height: 1.3;
        margin-top: 11px;
        margin-left: 15px;
        margin-bottom: 50px;

        @include m.lg {
            font-size: 44px;
        }
        @include m.xl {
            font-size: 52px;
        }

        &::after {
            content: "";
            width: 34px;
            height: 4px;
            background-color: c.$f-article-title;
            position: absolute;
            bottom: -15px;
            left: 0;

            @include m.lg {
                width: 35px;
            }

            @include m.xl {
                width: 63px;
                bottom: -34px;
            }
        }
    }

    &__inner {
        margin-bottom: 15px;
    }

    &__post {
        margin: 0 auto;
        width: 90%;
        color: c.$f-article-post-color;
        background-color: c.$f-article-post-bg;

        &:nth-child(1) {
            margin-bottom: 15px;
        }
    }

    &__second-title {
        margin: 7px auto 7px 10px;
        padding-top: 7px;
        font-family: f.$m-plus;
        font-size: 22px;
        line-height: 1.09;
    }

    &__text {
        margin: auto 10px;
        padding-bottom: 15px;
        font-family: f.$m-plus;
        font-size: 16px;
        line-height: 1.43;
    }
}