@use "../../foundation/mixin" as m;
@use "../../foundation/color" as c;
@use "../../foundation/font" as f;

.p-front-main-visual {
    display: block;
    position: relative;
    margin-bottom: 20px;
    height: 285px;

    @include m.lg {
        margin-bottom: 40px;
    }

    @include m.xl {
        margin-bottom: 120px;
        height: 530px;
    }

    &__img {
        height: 100%;
        object-fit: cover;
    }

    &__title {
        margin-left: 25px;
        font-family: f.$roboto;
        font-size: 36px;
        line-height: 1.5;

        @include m.xl {
            font-size: 40px;
        }
    }
}