@use "../../foundation/mixin" as m;
@use "../../foundation/color" as c;
@use "../../foundation/font" as f;

.p-header {
    background-color: c.$header-bg;
    position: relative;
    padding-top: 40px;

    @include m.xl {
        padding-top: 67px;
    }

    &__menu-button {
        position: absolute;
        top: 14px;
        right: 16px;

        @include m.lg {
            top: 18px;
            right: 26px;
        }
    }

    &__flex {

        @include m.xl {
            display: flex;
            justify-content: space-between;
            margin: 0 31px 66px 65px;
        }
    }

    &__logo {
        width: 203px;
        height: 53px;
        margin: 0 auto 38px auto;

        @include m.xl {
            width: 325px;
            height: 84px;
            margin: 0;
        }
    }

    &__search-form {
        display: flex;
        margin: 0 auto;
        width: 324px;

        @include m.lg {
            width: 550px;
        }

        @include m.xl {
            margin: 0;
            margin-top: 20px;
        }
    }

    &__search-box {
        margin-right: 12px;
        width: 232px;
        height: 48px;

        @include m.lg {
            margin-right: 14px;
            width: 398px;
        }

        input {
            width: 100%;
            height: 100%;
        }
    }

    &__search-button {
        width: 80px;
        height: 48px;

        @include m.lg {
            width: 138px;
        }
    }
    
    &__mask {
        display: none;
    }
    
}