@use "../../foundation/mixin" as m;
@use "../../foundation/color" as c;
@use "../../foundation/font" as f;


.p-single-photo {
    margin-bottom: 30px;

    @include m.lg {
        margin-bottom: 60px;
    }

    &__main {
        height: 200px;
        object-fit: cover;
        object-position: 0% 100%;

        @include m.lg {
            height: 264px;
        }
        @include m.xl {
            height: 500px;
        }
    }

    &__flex {
        display: flex;
        margin-top: 30px;

        @include m.lg {
            margin-top: 60px;
        }
    }

    &__sub {
        width: 43%;
        height: 51%;

        @include m.xl {
            height: 358px;
        }
    }

    &__text {
        width: 54%;
        margin-left: 3%;
        font-size: 16px;
        line-height: 1.43;
    }

    .reverse {
        margin-left: 0;
        margin-right: 3%;
    }

    &__second {
        margin: 30px auto;
        width: 80%;
        height: 5%;
        display: block;
        object-fit: cover;


        @include m.lg {
            margin-top: 61px;
            margin-bottom: 241px;
            width: 581px;
            height: 358px;
        }
        @include m.xl {
            margin-bottom: 60px;
        }
    }

    &__list {
        @include m.lg {
            display: flex;
            flex-wrap: wrap;
        }
    }

    &__item {
        height: 245px;
        margin-bottom: 20px;

        @include m.lg {
            width: 49%;
        }
        @include m.xl {
            width: 32%;
            margin-right: 2%;
        }

        &:nth-child(even) {
            @include m.lg {
                margin-left: 2%;
            }
            @include m.xl {
                margin-left: 0;
            }
        }
        &:nth-child(3n){
            @include m.xl {
                margin-right: 0;
            }
        }
        
        img {
            object-position: 0% 100%;
            object-fit: cover;
            height: 245px;
        }
    }
}