@use "../../foundation/mixin" as m;
@use "../../foundation/color" as c;
@use "../../foundation/font" as f;


.p-single-html {
    background-color: c.$s-html-bg;
    padding: 50px;
    margin-bottom: 30px;

    @include m.lg {
        margin-bottom: 60px;
    }

    &__content { 
        color: c.$s-color;
        font-family: f.$m-plus;
        font-size: 16px;
        line-height: 1.43;
    }
}