@use "../../foundation/mixin" as m;
@use "../../foundation/color" as c;
@use "../../foundation/font" as f;


.p-single-order {
    &__table {
        display: flex;
        border: solid 1px c.$s-table-line;
        margin-bottom: 30px;

        @include m.lg {
            margin-bottom: 60px;
        }
    }

    &__table-left {
        width: 40%;

        @include m.lg {
            width: 30%;
        }
    }
    &__table-right {
        width: 60%;
        border-left: solid 1px c.$s-table-line;

        @include m.lg {
            width: 70%;
        }
    }

    &__table-item {
        font-family: f.$m-plus;
        font-size: 16px;
        color: c.$s-color;
        line-height: 1.43;
        padding: 28px 0 27px 30px;
        border-bottom: solid 1px c.$s-table-line;

        &:nth-child(4n){
            border-bottom: none;
        }
    }

    &__message {
        margin-top: 30px;
        margin-bottom: 177px;
        font-weight: bold;
        color: c.$s-color;

        @include m.lg {
            margin-top: 60px;
            margin-bottom: 228px;
        }
        @include m.xl {
            margin-bottom: 353px;
        }
    }
}