@use "../../foundation/mixin" as m;
@use "../../foundation/color" as c;
@use "../../foundation/font" as f;

.c-button {

    &--menu {
        font-family: f.$roboto;
        font-size: 20px;
        line-height: 1.3;
        color: c.$header-color;

        @include m.lg {
            font-size: 34px;
        }

        @include m.xl {
            display: none;
        }
    }

    &--search {
        font-family: f.$m-plus;
        font-size: 16px;
        line-height: 1.4375;
        color: c.$header-color;
        background-color: c.$header-search-button-bg;
        border: solid 1px c.$header-color;
        border-radius: 10px;
        padding: 12px 23px;

        @include m.lg {
            padding: 12px 52px;
        }
    }

    &--close {
        width: 32px;
        height: 32px;
        background-color: c.$aside-bg;
        position: relative;

        &::before,&::after {
            content: "";
            width: 32px;
            height: 6px;
            background-color: c.$aside-color;
            position: absolute;
            top: 13px;
            left: 0;
        }
        &::before {
            transform: rotate(45deg);
        }
        &::after {
            transform: rotate(-45deg);
        }
    }


    &--read {
        color: c.$a-pagination-color;
        font-family: f.$m-plus;
        border-radius: 25px;
        background-color: c.$a-article-color;
        padding: 10px 42px;

        @include m.xl {
            border-radius: 50px;
        }
    }

    &--buy {
        color: c.$s-color;
        background-color: c.$s-button-bg;
        font-family: f.$m-plus;
        font-size: 16px;
        line-height: 1.43;
        border-radius: 20px;
        border: solid 1px c.$s-color;
        // padding: 30px 145px;
        font-weight: bold;
        width: 100%;
        padding: 30px 0;
    }
}