@use "../../foundation/color" as c;
@use "../../foundation/font" as f;


.c-index-item {
    a {
        color: c.$footer-color;
        font-family: f.$m-plus;
        font-size: 20px;
        line-height: 1.45;
    }
}